<div class="widgets">

  <div class="row">
    <ba-card cardTitle="Admin Portal" baCardClass="with-scroll" class="smart-table-container">
      <div>
        <ul id="admin-portal-nav" class="nav nav-pills" role="tablist">
                
            <!-- User Admin Tab -->
            <li class="nav-item">
                <a class="nav-link active" href="#users" id="users-tab" role="tab" data-toggle="tab" aria-controls="users" aria-expanded="true">
                    User Admin
                </a>
            </li>
            
            <!-- Organization Type Admin Tab -->
            <li class="nav-item">
                <a class="nav-link" href="#organization-types" role="tab" id="organization-types-tab" data-toggle="tab" aria-controls="organization-types">
                    Organization Type Admin
                </a>
            </li>

            <!-- Organization Admin Tab -->
            <li class="nav-item">
                <a class="nav-link" href="#organizations" role="tab" id="organizations-tab" data-toggle="tab" aria-controls="organizations">
                    Organizations Admin
                </a>
            </li>

            <!-- Document Type Admin Tab -->
            <li class="nav-item">
                <a class="nav-link" href="#doc-types" role="tab" id="doc-types-tab" data-toggle="tab" aria-controls="doc-types">
                    Document Type Admin
                </a>
            </li>
        </ul>

        <!-- Content Panel -->
        <div id="admin-portal-nav-content" class="tab-content">

            <!-- User Admin Content -->
            <div role="tabpanel" class="tab-pane fade show active" id="users" aria-labelledby="users-tab">
                <user-admin-table></user-admin-table>
            </div>
            
            <!-- Linked Docs Content -->
            <div role="tabpanel" class="tab-pane fade" id="organization-types" aria-labelledby="organization-types-tab">
                
                <organization-type-admin-table></organization-type-admin-table>
            </div>
            
            <!-- Organization Admin Content -->
            <div role="tabpanel" class="tab-pane fade" id="organizations" aria-labelledby="organizations-tab">
                <organization-admin-table></organization-admin-table>
            </div>

            <!-- Doc Types Admin Content -->
            <div role="tabpanel" class="tab-pane fade" id="doc-types" aria-labelledby="doc-types-tab">
                <doc-type-admin-table></doc-type-admin-table>
            </div>

        </div>

      </div>


    </ba-card>
  </div>

</div>
