<div class="row">
  <div class="col-md-12">
    <ba-card cardTitle="Document Filter" baCardClass="with-scroll">
      <div class="row" style="margin-left:2px">
          <div class="col-md-2">
              <label for="exampleSelect1">Sorting:</label>
              <select class="form-control" id="exampleSelect1">
                <option>Date - ASCENDING</option>
                <option>Date - DESCENDING</option>
              </select>
          </div>
          <div class="col-md-2">
              <label for="exampleSelect1">Usernames:</label>
              <select class="form-control" id="exampleSelect1">
                <option>-- All Usernames</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
          </div>
          <div class="col-md-2">
            <label for="exampleSelect2">Doc Types:</label>
            <select class="form-control" id="exampleSelect2">
              <option>-- All Doc Types</option>
              <option>Bill of Lading</option>
              <option>Fishmeal Documents</option>
              <option>Feed Documents</option>
              <option>Vessel documents</option>
              <option>Farm Documents</option>
            </select>
        </div>
      </div>
      <div class="separator"></div>
      <div class="row" style="margin-left:2px">
          <div class="col-md-4" >
              <button type="submit" class="btn btn-danger" id="resetBtn">Reset Filter</button>
          </div>
      </div>
    </ba-card>
  </div>
</div>
