@import '../../theme/sass/conf/conf';



.truncate {
  width: 105px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.document-row img {
    height:22px;
    width:22px;
    padding: 2px;
    background: #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab-content {
  color : black;
  background-color: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-radius: 4px 4px 4px 4px ;
  padding : 15px 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.nav-tabs {
    margin-bottom: 0;
}

:host /deep/ .feed-messages-container {

  .feed-message {
    $text-message-color: $content-text;
    $video-message-color: $danger;
    $image-message-color: $success;
    $geo-message-color: $primary;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.12);
    &:first-child {
      padding-top: 0;
    }

    .active {
      border: 2px solid green;
    }

    .requiredDocReD {
      border: 2px solid red;
    }

    .requiredDocYellow {
      border: 2px solid yellow;
    }

    .requiredDocGreen {
      border: 2px solid green;
    }

    .target {
      border: 2px solid red;
    }

    .hidden {
      display: none !important;
    }

    .accent {
      color: $warning-bg;
      font-size: 18px;
      padding-left: 11px;
      border-left: 4px solid $warning-bg;
    }

    .message-icon {
      cursor: pointer;
      width: 60px;
      height: 60px;
      float: left;
      position: relative;
      margin-left: 20px;
      > img, .media-icon {
        border-radius: 30px;
        width: 100%;
        height: 100%;
      }

      .sub-photo-icon {
        display: inline-block;
        padding: 4px;
        &:after {
          content: '';
          display: inline-block;
          width: 22px;
          height: 22px;
          background-size: contain;
        }
        &.video-message {
          background: $video-message-color;
          &:after {
            @include bg-image('theme/icon/feed/feed-video.svg');
          }
        }
        &.image-message {
          background: $image-message-color;
          &:after {
            width: 21px;
            height: 21px;
            margin-top: 1px;
            margin-left: 1px;
            border-radius: 5px;
            @include bg-image('theme/icon/feed/feed-image.svg');
          }
        }
        &.geo-message {
          background: $geo-message-color;
          &:after {
            width: 22px;
            height: 22px;
            @include bg-image('theme/icon/feed/feed-location.svg');
          }
        }
      }

      .sub-photo-icon {
        position: absolute;
        width: 30px;
        height: 30px;
        right: -2px;
        bottom: -4px;
        border-radius: 15px;
      }
    }

    .message-icon-dummy {
      cursor: pointer;
      width: 0px;
      height: 20px;
      float: left;
      position: relative;
      margin-left: 5px;
      > img, .media-icon {
        border-radius: 30px;
        width: 100%;
        height: 100%;
      }

      .sub-photo-icon {
        display: inline-block;
        padding: 4px;
        &:after {
          content: '';
          display: inline-block;
          width: 22px;
          height: 22px;
          background-size: contain;
        }
        &.video-message {
          background: $video-message-color;
          &:after {
            @include bg-image('theme/icon/feed/feed-video.svg');
          }
        }
        &.image-message {
          background: $image-message-color;
          &:after {
            width: 21px;
            height: 21px;
            margin-top: 1px;
            margin-left: 1px;
            border-radius: 5px;
            @include bg-image('theme/icon/feed/feed-image.svg');
          }
        }
        &.geo-message {
          background: $geo-message-color;
          &:after {
            width: 22px;
            height: 22px;
            @include bg-image('theme/icon/feed/feed-location.svg');
          }
        }
      }

      .sub-photo-icon {
        position: absolute;
        width: 30px;
        height: 30px;
        right: -2px;
        bottom: -4px;
        border-radius: 15px;
      }
    }

    
    .text-block {
      cursor: pointer;
      position: relative;
      border-radius: 5px;
      margin: 0 0 0 80px;
      padding: 5px 20px;
      color: $text-message-color;
      width: 280px;
      height: 70px;

      &.text-message {
        font-size: 16px;
        width: inherit;
        max-width: calc(100% - 80px);
        height: inherit;
        min-height: 60px;
        &:before {
          display: block;
        }
        .message-content {
          font-size: 16px;
          line-height: 15px;
          font-weight: $font-light;
        }
      }
      &.small-message {
        width: 155px;
        height: 145px;
        .preview {
          bottom: 0;
          top: initial;
          height: 87px;
          img {
            width: 155px;
            height: 87px;
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }

    .message-header {
      font-size: 18px;
      padding-bottom: 5px;
      .author {
        font-size: 20px;
        padding-right: 5px;
      }
    }

    .message-content {
      font-size: 18px;
      line-height: 20px;
    }

    .preview {
      transition: 0s linear all;
      display: inline-block;
      img {
        padding-top: 10px;
        width: 100%;
        height: auto;
        float: none !important;
      }
    }

    .message-time {
      width: 100%;
      left: 0;
      font-size: 14px;
      padding-top: 10px;
      color: $help-text;
      margin-bottom: 5px;
      .post-time {
        float: left;
      }
      .ago-time {
        float: right;
      }
    }
  }

  .line-clamp {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;

    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 !important;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .line-clamp:after {
      content: '...';
      text-align: right;
      bottom: 0;
      right: 0;
      width: 25%;
      display: block;
      position: absolute;
      height: calc(1em * 1.2);
    }
  }

  @supports (-webkit-line-clamp: 1) {
    .line-clamp:after {
      display: none !important;
    }
  }
  .line-clamp-1 {
    -webkit-line-clamp: 1;
    height: calc(1em * 1.2 * 1);
  }
  .line-clamp-2 {
    -webkit-line-clamp: 2;
    height: calc(1em * 1.2 * 2);
  }
  .line-clamp-3 {
    -webkit-line-clamp: 3;
    height: calc(1em * 1.2 * 3);
  }
  .line-clamp-4 {
    -webkit-line-clamp: 4;
    height: calc(1em * 1.2 * 4);
  }
  .line-clamp-5 {
    -webkit-line-clamp: 5;
    height: calc(1em * 1.2 * 5);
  }
}

/deep/.feed-panel .card-body {
  padding: 10px 0;
}


/*-- Boxes & Containers --*/
.diagram-table{
	display: table;
	width: 670px;
	margin: 0px auto;
}
.diagram-table-row {
	display: table-row;
}
.diagram-table-cell {
	display: table-cell;
	height: 50px;
	padding-bottom: 20px;    /*--Control vertical space between cells--*/
	padding-right: 50px;     /*--Control horizontal space between cells--*/
	vertical-align: top;
}
.diagram-table-body {
	display: table-row-group;
}

/*-- SVG's Color Classes --*/
.shape-green rect {	        
	fill: #00d879;
	stroke: #00d879;
  	stroke-width:1px;
    fill-rule: evenodd;
}

	.shape-green path {	        
		fill: #00d879;
		stroke: #00d879;
	  	stroke-width:1px;
	    fill-rule: evenodd;
	}

	.shape-green text {
		font-family: 'Raleway', sans-serif; font-weight: 600;
		font-size:14px;
		fill: white;
	}

.shape-light-green rect {	        
	fill: #00d8b7;
	stroke: #00d8b7;
  	stroke-width:1px;
    fill-rule: evenodd;
}

	.shape-light-green path {	        
		fill: #00d8b7;
		stroke: #00d8b7;
	  	stroke-width:1px;
	    fill-rule: evenodd;
	}

	.shape-light-green text {
		font-family: 'Raleway', sans-serif; font-weight: 600;
		font-size:14px;
		fill: white;
	}

.shape-blue rect {	        
	fill: #0d93d3;
	stroke: #0d93d3;
  	stroke-width:1px;
    fill-rule: evenodd;
}

	.shape-blue path {	        
		fill: #0d93d3;
		stroke: #0d93d3;
	  	stroke-width:1px;
	    fill-rule: evenodd;
	}

	.shape-blue text {	        
		font-family: 'Raleway', sans-serif; font-weight: 600;
		font-size:14px;
		fill: white;
	}

.shape-light-blue rect {	        
	fill: #00b7d8;
	stroke: #00b7d8;
  	stroke-width:1px;
    fill-rule: evenodd;
}

	.shape-light-blue path {	        
		fill: #00b7d8;
		stroke: #00b7d8;
	  	stroke-width:1px;
	    fill-rule: evenodd;
	}

	.shape-light-blue text {	        
		font-family: 'Raleway', sans-serif; font-weight: 600;
		font-size:14px;
		fill: white;
	}

.shape-light-green2 rect {	        
	fill: #def7ef;
	stroke: #def7ef;
  	stroke-width:1px;
    fill-rule: evenodd;
}

	.shape-light-green2 path {	        
		fill: #def7ef;
		stroke: #def7ef;
	  	stroke-width:1px;
	    fill-rule: evenodd;
	}

	.shape-light-green2 text {	        
		font-family: 'Raleway', sans-serif; font-weight: 600;
		font-size:14px;
		fill: #00d879;
	}

.shape-light-blue2 rect {	        
	fill: #d0eff5;
	stroke: #d0eff5;
  	stroke-width:1px;
    fill-rule: evenodd;
}

	.shape-light-blue2 path {	        
		fill: #d0eff5;
		stroke: #d0eff5;
	  	stroke-width:1px;
	    fill-rule: evenodd;
	}

	.shape-light-blue2 text {	        
		font-family: 'Raleway', sans-serif; font-weight: 600;
		font-size:14px;
		fill: #00b7d8;
	}

.shape-dark rect {	        
	fill: #3e4353;
	stroke: #3e4353;
  	stroke-width:1px;
    fill-rule: evenodd;
}

	.shape-dark path {	        
		fill: #3e4353;
		stroke: #3e4353;
	  	stroke-width:1px;
	    fill-rule: evenodd;
	}

	.shape-dark text {	        
		font-family: 'Raleway', sans-serif; font-weight: 600;
		font-size:14px;
		fill: #00d879;
  }
  
.shape-gray rect {	        
  fill: #d4d4d4;
  stroke: #d4d4d4;
    stroke-width:1px;
    fill-rule: evenodd;
}

  .shape-gray path {	        
    fill: #d4d4d4;
    stroke: #d4d4d4;
      stroke-width:1px;
      fill-rule: evenodd;
  }

  .shape-gray text {	        
    font-family: 'Raleway', sans-serif; font-weight: 600;
    font-size:14px;
    fill:  black;
  }

  .shape-white rect {	        
    fill: #ffffff;
    stroke: #ffffff;
      stroke-width:1px;
      fill-rule: evenodd;
  }
  
    .shape-white path {	        
      fill: #ffffff;
      stroke: #ffffff;
        stroke-width:1px;
        fill-rule: evenodd;
    }
  
    .shape-white text {	        
      font-family: 'Raleway', sans-serif; font-weight: 600;
      font-size:14px;
      fill:  black;
    }

.shape-green-organization rect {	        
  fill: #d4e8c8;
  stroke: #d4e8c8;
    stroke-width:1px;
    fill-rule: evenodd;
}

  .shape-green-organization path {	        
    fill: #d4e8c8;
    stroke: #d4e8c8;
      stroke-width:1px;
      fill-rule: evenodd;
  }

  .shape-green-organization text {	        
    font-family: 'Raleway', sans-serif; font-weight: 600;
    font-size:14px;
    fill:  black;
  }

.shape-red-organization rect {	        
  fill: #efaeb0;
  stroke: #efaeb0;
    stroke-width:1px;
    fill-rule: evenodd;
}

  .shape-red-organization path {	        
    fill: #efaeb0;
    stroke: #efaeb0;
      stroke-width:1px;
      fill-rule: evenodd;
  }

  .shape-red-organization text {	        
    font-family: 'Raleway', sans-serif; font-weight: 600;
    font-size:14px;
    fill:  black;
  }

.shape-placeholder rect {	        
	fill: #ededed;
	stroke: #ededed;
  	stroke-width:1px;
    fill-rule: evenodd;
}

	.shape-placeholder path {	        
		fill: #ededed;
		stroke: #ededed;
	  	stroke-width:1px;
	    fill-rule: evenodd;
	}

	.shape-placeholder text {	        
		font-family: 'Raleway', sans-serif; font-weight: 600;
		font-size:14px;
		fill: white;
	}

/*-- Interactions --*/
.toggle {
	width: 20px;
	height: 20px;
	position: absolute;
	margin: 14px 0px 0px -10px;
	z-index: 10;
}
.toggle-shape {fill: rgba(235, 103, 11, 0.83);}
.toggle-shape:hover {fill: #00d8b7;}
.toggle-plus {        
	fill: #fff;
    fill-rule: evenodd;
}
.toggle-minus {        
	fill: #fff;
}

.read-flag-shape {fill: red;}

.clickable {cursor: pointer;}
.clickable:hover {
	opacity: 0.8;
	position: relative;
	z-index: 1;
}
.icon-active {
	-webkit-box-shadow: 0px 12px 0px -8px rgba(235, 103, 11, 0.83);
	-moz-box-shadow: 0px 12px 0px -8px rgba(235, 103, 11, 0.83);
	box-shadow: 0px 12px 0px -8px rgba(235, 103, 11, 0.83);
}

/*-- Icon Tree Connector --*/
.icon-tree {
  display:block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  position: absolute;
  margin: 35px 0px 0px 115px;
  z-index: 10;
  cursor: pointer;
  
}
.icon-tree svg {
	margin-top: 4px;
	margin-left: 3px;
}
.icon-tree path {	        
	fill-rule: evenodd;
    fill: #3b3b3b;
}
.icon-tree:hover {border: 1px solid #00b7d8;} 
.icon-tree:hover path {fill: #00b7d8;}


.icon-tree-left {
  display:none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  position: absolute;
  margin: 35px 0px 0px 115px;
  z-index: 10;
  cursor: pointer;
}
.icon-tree-left svg {
	margin-top: 4px;
	margin-left: 4px;
}
.icon-tree-left path {	        
	fill-rule: evenodd;
    fill: #3b3b3b;
}
.icon-tree-left:hover {border: 1px solid #00b7d8;} 
.icon-tree-left:hover path {fill: #00b7d8;}

.customtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.customtooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.customtooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.customtooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

ngx-gallery {
  position: relative;
  z-index: 9999;
}


.thumbnail img {
  height:250px;
  width:167px;
  padding: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.selection_box {
  cursor: pointer;
  padding: 4px;
  background: rgba($color: #ffffff, $alpha: 1.0);
  width: 20px; height: 30px; position: relative; bottom:30px; left:12px;
  z-index: 9999;
}
.selection_box:hover {background: #bbb;}

/*-- Dragula --*/
.wrapper {
  display: flex;
  background-color: #942A57;
  flex-flow: row wrap;
}
.container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  min-height: 150px;
  min-width: 500px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top:20px;
  margin-bottom:20px;
}
.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 270px;
  overflow-x: auto;
}

.card::-webkit-scrollbar {
  display: none;
}
.card--content {
  flex: 0 0 auto;
  height:250px;
  width:167px;
  padding: 5px;
  margin-right: 20px;
}

/*              */ 
/* Leaflet Maps */
/*              */
:host /deep/ .leaflet-maps {
  width: 100%;
  height: calc(100vh - 283px);

  /* required styles */

  .leaflet-map-pane,
  .leaflet-tile,
  .leaflet-marker-icon,
  .leaflet-marker-shadow,
  .leaflet-tile-pane,
  .leaflet-tile-container,
  .leaflet-overlay-pane,
  .leaflet-shadow-pane,
  .leaflet-marker-pane,
  .leaflet-popup-pane,
  .leaflet-overlay-pane svg,
  .leaflet-zoom-box,
  .leaflet-image-layer,
  .leaflet-layer {
    position: absolute;
    left: 0;
    top: 0;
  }

  .leaflet-container {
    overflow: hidden;
    -ms-touch-action: none;
  }

  .leaflet-tile,
  .leaflet-marker-icon,
  .leaflet-marker-shadow {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
  }

  .leaflet-marker-icon,
  .leaflet-marker-shadow {
    display: block;
  }

  /* map is broken in FF if you have max-width: 100% on tiles */
  .leaflet-container img {
    max-width: none !important;
  }

  /* stupid Android 2 doesn't understand "max-width: none" properly */
  .leaflet-container img.leaflet-image-layer {
    max-width: 15000px !important;
  }

  .leaflet-tile {
    filter: inherit;
    visibility: hidden;
  }

  .leaflet-tile-loaded {
    visibility: inherit;
  }

  .leaflet-zoom-box {
    width: 0;
    height: 0;
  }

  /* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
  .leaflet-overlay-pane svg {
    -moz-user-select: none;
  }

  .leaflet-tile-pane {
    z-index: 2;
  }

  .leaflet-objects-pane {
    z-index: 3;
  }

  .leaflet-overlay-pane {
    z-index: 4;
  }

  .leaflet-shadow-pane {
    z-index: 5;
  }

  .leaflet-marker-pane {
    z-index: 6;
  }

  .leaflet-popup-pane {
    z-index: 7;
  }

  .leaflet-vml-shape {
    width: 1px;
    height: 1px;
  }

  .lvml {
    behavior: url(#default#VML);
    display: inline-block;
    position: absolute;
  }

  /* control positioning */

  .leaflet-control {
    position: relative;
    z-index: 7;
    pointer-events: auto;
  }

  .leaflet-top,
  .leaflet-bottom {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
  }

  .leaflet-top {
    top: 0;
  }

  .leaflet-right {
    right: 0;
  }

  .leaflet-bottom {
    bottom: 0;
  }

  .leaflet-left {
    left: 0;
  }

  .leaflet-control {
    float: left;
    clear: both;
  }

  .leaflet-right .leaflet-control {
    float: right;
  }

  .leaflet-top .leaflet-control {
    margin-top: 10px;
  }

  .leaflet-bottom .leaflet-control {
    margin-bottom: 10px;
  }

  .leaflet-left .leaflet-control {
    margin-left: 10px;
  }

  .leaflet-right .leaflet-control {
    margin-right: 10px;
  }

  /* zoom and fade animations */

  .leaflet-fade-anim .leaflet-tile,
  .leaflet-fade-anim .leaflet-popup {
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .leaflet-fade-anim .leaflet-tile-loaded,
  .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity: 1;
  }

  .leaflet-zoom-anim .leaflet-zoom-animated {
    transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  }

  .leaflet-zoom-anim .leaflet-tile,
  .leaflet-pan-anim .leaflet-tile,
  .leaflet-touching .leaflet-zoom-animated {
    transition: none;
  }

  .leaflet-zoom-anim .leaflet-zoom-hide {
    visibility: hidden;
  }

  /* cursors */

  .leaflet-clickable {
    cursor: pointer;
  }

  .leaflet-container {
    cursor: -webkit-grab;
    cursor: -moz-grab;
  }

  .leaflet-popup-pane,
  .leaflet-control {
    cursor: auto;
  }

  .leaflet-dragging .leaflet-container,
  .leaflet-dragging .leaflet-clickable {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }

  /* visual tweaks */

  .leaflet-container {
    background: #ddd;
    outline: 0;
  }

  .leaflet-container a {
    color: #0078A8;
  }

  .leaflet-container a.leaflet-active {
    outline: 2px solid orange;
  }

  .leaflet-zoom-box {
    border: 2px dotted #38f;
    background: rgba(255, 255, 255, 0.5);
  }

  /* general toolbar styles */

  .leaflet-bar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    a {
      background-color: $primary-dark;
      border-bottom: 1px solid #ccc;
      display: block;
      text-align: center;
      text-decoration: none;
      opacity: 0.8;
      color: $default-text;
      font-size: 17px;
      width: 20px;
      height: 20px;
      line-height: 18px;
      font-family: Lato;
      font-weight: $font-thin;
      &:hover {
        background-color: $danger;
      }
      &:last-child {
        border-bottom: none;
      }
      &.leaflet-control-zoom-out {
        line-height: 16px;
      }
    }
  }

  .leaflet-bar a.leaflet-disabled {
    cursor: default;
    background-color: $disabled-bg;
    color: $disabled;
  }

  /* zoom control */

  .leaflet-bar .leaflet-control-zoom-in,
  .leaflet-bar .leaflet-control-zoom-out {
    line-height: 18px;
    &:hover {
      width: 20px;
      height: 20px;
    }
  }

  .leaflet-control-zoom-out {
    font-size: 20px;
  }

  .leaflet-touch .leaflet-control-zoom-in {
    font-size: 22px;
  }

  .leaflet-touch .leaflet-control-zoom-out {
    font-size: 24px;
  }

  /* layers control */

  .leaflet-control-layers {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    background: $default;
  }

  .leaflet-control-layers-toggle {
    background-image: url(/img/layers.png);
    width: 36px;
    height: 36px;
  }

  .leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(/img/layers-2x.png);
    background-size: 26px 26px;
  }

  .leaflet-touch .leaflet-control-layers-toggle {
    width: 44px;
    height: 44px;
  }

  .leaflet-control-layers .leaflet-control-layers-list,
  .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display: none;
  }

  .leaflet-control-layers-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;
  }

  .leaflet-control-layers-expanded {
    padding: 6px 10px 6px 6px;
    color: #333;
    background: $default;
  }

  .leaflet-control-layers-selector {
    margin-top: 2px;
    position: relative;
    top: 1px;
  }

  .leaflet-control-layers label {
    display: block;
  }

  .leaflet-control-layers-separator {
    height: 0;
    border-top: 1px solid #ddd;
    margin: 5px -10px 5px -6px;
  }

  /* attribution and scale controls */

  .leaflet-container .leaflet-control-attribution {
    background: $default;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
  }

  .leaflet-control-attribution,
  .leaflet-control-scale-line {
    padding: 0 5px;
    color: #333;
  }

  .leaflet-control-attribution a {
    text-decoration: none;
  }

  .leaflet-control-attribution a:hover {
    text-decoration: underline;
  }

  .leaflet-container .leaflet-control-attribution,
  .leaflet-container .leaflet-control-scale {
    font-size: 11px;
  }

  .leaflet-left .leaflet-control-scale {
    margin-left: 5px;
  }

  .leaflet-bottom .leaflet-control-scale {
    margin-bottom: 5px;
  }

  .leaflet-control-scale-line {
    border: 2px solid #777;
    border-top: none;
    line-height: 1.1;
    padding: 2px 5px 1px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    background: $default;
    background: rgba(255, 255, 255, 0.5);
  }

  .leaflet-control-scale-line:not(:first-child) {
    border-top: 2px solid #777;
    border-bottom: none;
    margin-top: -2px;
  }

  .leaflet-control-scale-line:not(:first-child):not(:last-child) {
    border-bottom: 2px solid #777;
  }

  .leaflet-touch .leaflet-control-attribution,
  .leaflet-touch .leaflet-control-layers,
  .leaflet-touch .leaflet-bar {
    box-shadow: none;
  }

  .leaflet-touch .leaflet-control-layers,
  .leaflet-touch .leaflet-bar {
    border: none;
    background-clip: padding-box;
  }

  /* popup */

  .leaflet-popup {
    position: absolute;
    text-align: center;
  }

  .leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
  }

  .leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
    color: $dropdown-text;
  }

  .leaflet-popup-content p {
    margin: 18px 0;
  }

  .leaflet-popup-tip-container {
    margin: 0 auto;
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
  }

  .leaflet-popup-tip {
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    transform: rotate(45deg);
  }

  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background: white;

    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  }

  .leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: $font-bold;
    background: transparent;
  }

  .leaflet-container a.leaflet-popup-close-button:hover {
    color: #999;
  }

  .leaflet-popup-scrolled {
    overflow: auto;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

  .leaflet-oldie .leaflet-popup-content-wrapper {
    zoom: 1;
  }

  .leaflet-oldie .leaflet-popup-tip {
    width: 24px;
    margin: 0 auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
  }

  .leaflet-oldie .leaflet-popup-tip-container {
    margin-top: -1px;
  }

  .leaflet-oldie .leaflet-control-zoom,
  .leaflet-oldie .leaflet-control-layers,
  .leaflet-oldie .leaflet-popup-content-wrapper,
  .leaflet-oldie .leaflet-popup-tip {
    border: 1px solid #999;
  }

  /* div icon */

  .leaflet-div-icon {
    background: $default;
    border: 1px solid #666;
  }
}

/*              */ 
/* Image Viewer */
/*              */


tspan.trace-box-text {
  white-space: nowrap; 
  width: 105px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}











