<div>
    <div>
      <ng2-smart-table [settings]="settings" 
          [source]="source" 
          (deleteConfirm)="onDeleteConfirm($event)"
          (rowSelect)="onRowSelect($event)"
          (createConfirm)="onCreateConfirm($event)"
          (editConfirm)="onEditConfirm($event)"
          >
      </ng2-smart-table>   
    </div> 
    <div class="separator"></div> 

    <!-- ---------------------------------------- -->
    <!-- User Admin Details Card                  -->
    <!--                                          -->
    <ba-card baCardClass="with-scroll">
      <!-- Details -->
      <div class="row">
        <div class="col-6">
          <div class="row">

          </div>
        </div>
      </div>

      <!-- Details Table with Additional Data - Tree-like view--> 
      <div class="col-6">
        <div class="horizontal-scroll">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="width:50px"></th>
                  <th style="width:150px">Requirement Type</th>
                  <th style="width:250px" class="align-left">Doc Type</th>
                  <th class="align-left">Permissions</th>
                </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let docType of currOrgDocTypes; let i = index">
                        <tr>
                          <td class="align-right">
                            <!-- Empty--> 
                            <input type="checkbox" [(ngModel)]="docType.isActiveinOrg" (click)="syncWithGlobalGroup()"/>
                          </td>

                           <td  ngClass="nowrap">
                            <!-- Doc Type--> 
                            {{docType.docTypeName}}
                          </td> 

                          <td  ngClass="nowrap">
                              <!-- Doc Name--> 
                              {{docType.docName}}
                            </td> 

                          <td class="align-left">
                            <!-- Permissions --> 
                            {{getShortenedPermissions(docType.permissions)}}
                          </td>
                        </tr>
                  </ng-container>
              </tbody>
            </table>
          </div>
    </div>
    <div>
        <button (click)="saveData()" class="btn btn-primary col-1" style="float: down; padding:10px; margin-top:10px">Save</button>
      </div>
    </ba-card>
</div>